@model MovieForum2.Models.Comment

@{
    ViewData["Title"] = "Create Comment";
}

<h3>Post a comment to: @ViewBag.DiscussionTitle</h3>

<hr />
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Content" class="control-label">Your Comment</label>
        <textarea class="form-control" id="Content" name="Content" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>

<div>
    <a asp-controller="Home" asp-action="GetDiscussion" asp-route-id="@Model.DiscussionId">Back to Discussion</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
